@import url('../../../styles/global/global.css');

.areaOfExpertise {
    padding-top: 12rem;
    padding-bottom: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'TildaSans',Arial,sans-serif;
}

.title {
    font-size: 6.4rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
    line-height: 1.23;
    font-weight: 600;
    color: #000000;
}

.text {
    max-width: 96rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.55;
    font-weight: 300;
}

.img {
    width: 15.6rem;
    height: 15.6rem;
    border-radius: 50%;
    background-color: burlywood;
}